<!DOCTYPE html>
<html>
    <header>
        <title>RESERVO: Client Dashboard</title>    
        <link rel="stylesheet" href="libs/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="css/style.css">
    </header>
    <body>
      <div class="container">
        