<% include partials/header %>
<div class="pager">
  <a href="/login" class="btn btn-primary">Log in</a>
  <a href="/registration" class="btn btn-default">Register</a>
</div>

<% include partials/footer %>